.coinInput {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 0 0 8px 8px;
    max-width: 100%;
    margin: 12px;
    margin-bottom: 0;
}

.coinInput input {
    font-size: 52px;
    flex: 1;
    border: none;
    padding: 0;
    outline: none;
    color: var(--text-color);
    background: transparent;
}

.coinInput input::-webkit-outer-spin-button,
.coinInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}