.header {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 0 0 32px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content {
    flex: 1 1 50%;
    max-width: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.highlight {
    color: var(--link-color);
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.emailLink {
    color: var(--link-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.emailLink:hover {
    text-decoration: underline;
}

.icon {
    margin-top: auto;
    margin-right: 8px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.imageContainer {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FFD700;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 455px) {
    .header {
        flex-direction: column;
        /* Располагает элементы вертикально на маленьких экранах */
        text-align: center;
    }

    .content, .imageContainer {
        flex: none;
        width: 100%;
        margin: 0;
    }

    .image {
        width: 100px;
        height: 100px;
        margin-top: 1rem;
    }
}