.subtitle {
    font-size: 18px;
    color: var(--text-color);
    margin-top: 12px;
    margin-bottom: 24px;
}

.qrImage {
    width: 270px;
    height: auto;
    transition: transform 0.3s ease;
    margin-bottom: 12px;
}

.qrImage:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 322px) {
    .qrImage {
        width: 90%;
    }
}