:root {
  --bg-color: #F7F7F7;
  --secondary-bg-color: #FFFFFF;
  --text-color: #333333;
  --hint-color: #e7c500;
  --link-color: #ff5445;
  --button-text-color: #FFFFFF;
  --button-bg: #fd6253;
}

body {
  margin: 0;
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--secondary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}