:root {
  --bg-color: #57518c;
  --secondary-bg-color: #43427A;
  --text-color: white;
  --hint-color: #e7e7e7;
  --tg-theme-link-color: #ffb8b3;
  --tg-theme-button-text-color: #000;
  --tg-theme-button-color: #ffffffd4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--secondary-bg-color);
  background-image: url('./background.png');
  background-repeat: repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}